{% extends 'wall/base.html' %} 

{% block navbar %}
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a href="/signin">Sign In</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<section>
    <h3>{{ user.fname.title }} {{ user.lname.title }}</h3>
    <h4>User ID: #{{ user.id }}</h4>
    <h4>Email: {{ user.email }}</h4>
</section>

<!-- leave message form -->
<section class="container">
    <form action="{% url 'wall:message_post' user_id=user.id %}" method="POST" class="leave_msg_form">
        {% csrf_token %}
        <h3>Leave a message for {{ user.fname.title }}</h3>
        {{ msg_form.as_p }}
        <input type="submit" class="btn" value="Post"/>
    </form>
</section>

<main class="msg_wall">
    {% for message in posted_messages %}
    <section class="container msg_section">
        <div class="msg_div">
            <!-- render each message -->
            <div class="row">
                <h5 class="col-md-8">
                    <a href="{% url 'wall:user_show' user_id=message.posted_by_user_id %}">{{ message.posted_by_user.fname.title }}</a>
                    <span> wrote: </span>
                </h5>
                <p class="col-md-4">{{ message.created_date }}</p>
            </div>
            <p>{{ message.msg }}</p>
        </div>

        <div class="comment_div">
            <!-- nest comments in each message section -->
            {% for comment in comments %}
                {% if comment.parent_message_id == message.id %}
                    <div class="row">
                        <h5 class="col-md-8">
                            <a href="{% url 'wall:user_show' user_id=comment.posted_by_user_id %}">{{ comment.posted_by_user.fname.title }}</a>
                            <span> wrote: </span>
                        </h5>
                        <p class="col-md-4">{{ comment.created_date }}</p>
                    </div>
                    <p>{{ comment.comment }}</p>
                {% endif %}
            {% endfor %}

            <!-- comment form -->
            <form action="{% url 'wall:comment' user_id=user.id for_msg_id=message.id %}" method="POST" class="comment_form">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <input type="submit" class="btn" value="Comment" />
            </form>
        </div>
    </section>
</main>
{% endfor %}
{% endblock %}

{% block javascript %}
{% load static %}
    <script type="text/javascript" src="{% static 'wall/js/wall.js' %}"></script>
{% endblock %}