{% extends 'wall/base.html' %} 

{% block navbar %}
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a href="/signin">Sign In</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<section>
    <h3>{{ user.fname.title }} {{ user.lname.title }}</h3>
    <h4>User ID: #{{ user.id }}</h4>
    <h4>Email: {{ user.email }}</h4>
</section>

<!-- leave-message form -->
<section class="container">
    <div class="row">
        <form action="{% url 'wall:message_post' user_id=user.id %}" method="POST" class="leave_msg_form col-md-8">
            {% csrf_token %}
            <h3>Leave a message for {{ user.fname.title }}</h3>
            {{ msg_form.as_p }}
            <input type="submit" class="btn" value="Post"/>
        </form>
    </div>
</section>

<!-- beginning of message wall -->
<div class="container msg_wall">
    {% for message in posted_messages %}

    <section class="msg_section">

        <!-- render each message -->
        <div class="msg_div">
            <div class="row col-md-12">
                <h5 class="col-md-8">
                    <a href="{% url 'wall:user_show' user_id=message.posted_by_user_id %}">{{ message.posted_by_user.fname.title }}</a>
                    <span> wrote: </span>
                </h5>
                <p class="col-md-4">{{ message.created_date }}</p>
            </div>
            <p>{{ message.msg }}</p>
        </div>
        <!-- end of the message body -->

        <!-- nest comments in each message section -->
        <div class="comment_div">
            {% for comment in comments %}
                {% if comment.parent_message_id == message.id %}
                <div class="row">
                    <h5 class="col-md-8">
                        <a href="{% url 'wall:user_show' user_id=comment.posted_by_user_id %}">{{ comment.posted_by_user.fname.title }}</a>
                        <span> wrote: </span>
                    </h5>
                    <p class="col-md-4">{{ comment.created_date }}</p>
                </div>
                <p>{{ comment.comment }}</p>
                {% endif %}
            {% endfor %}
            
            <!--  a div to append ajax-handled new comment -->
            <div id="user_id_{{user.id}}_msg_id_{{message.id}}">

            </div>

            <!-- comment form -->
            <form action="{% url 'wall:comment' user_id=user.id for_msg_id=message.id %}" method="POST" class="comment_form" div_id="user_id_{{user.id}}_msg_id_{{message.id}}">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <input type="submit" class="btn" value="Comment" />
            </form>
        </div>
    </section>
    {% endfor %}
</div>
{% endblock %}

{% block javascript %}
{% load static %}
    <script type="text/javascript" src="{% static 'wall/js/wall.js' %}"></script>
{% endblock %}