<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Django Channels Chatroom{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- google fonts -->
        <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600,200' rel='stylesheet' type='text/css'>
        <!-- add customise stylesheet -->
        {% load static %}
        {% block stylesheet %}
        <link rel="stylesheet" href="{% static 'chatroom/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'chatroom/css/skeleton.css' %}">
        <link href="{% static 'chatroom/css/my_style.css' %}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <div class="section">
            <div class="container">
                {% block content %}{% endblock content %}
            </div>
        </div>
        {% block afterbody %}{% endblock afterbody %}
    </body>
</html>