{% extends "chatroom/base.html" %}
    {% block content %}
    {% load staticfiles %}
<h1>{{ room.label }}</h1>
<p>
    Anyone with this URL can join the room and chat:
    <code>{{ request.scheme }}://{{ request.get_host }}/{{ room.label }}</code>
</p>
<p>
    <label for="handle">Your name:</label>
    <input id="handle" type="text" placeholder="handle" required>
</p>
<form id="chatform">
    <table id="chat_table">
        <tbody>
            {% for chat in chats %}
            <tr>
                <td>{{ chat.formatted_timestamp }}</td>
                <td>{{ chat.handle }}</td>
                <td>{{ chat.chat }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>Say something:</td>
                <td colspan=2>
                    <input id="chat" type="text" placeholder="say something" required>
                    <button type="submit" id="say_it">Say it</button>
                </td>
        </tfoot>
    </table>
</form>
{% endblock content %}
{% block afterbody %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script type="text/javascript" src='{% static "chatroom/js/reconnecting-websocket.min.js" %}'></script>
<script type="text/javascript" src='{% static "chatroom/js/chat.js" %}'></script>
{% endblock afterbody %}